.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 10px;
  outline: none;
}

.wrapper {
  background-color: rgb(231, 236, 226);
  border-radius: 10px 0 0 0px;
  padding: 30px;
  height: 370px;
}
.wrapperslot {
  background-color: white;
  border-radius: 0 10px 0 0;
  padding: 30px;
  height: 370px;
}

.calendar {
  background-color: white;
  border-radius: 10px;
}

.slottitle {
  
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555770;
  font-weight: 600;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
  margin-bottom: 10px;
  font-weight: 800;
}

.select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.slots {
  margin-top: 20px;
  width: 340px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  
  display: flex;
  justify-content: space-between;
}
img {
  object-fit: contain;
  width: 12px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  background-color:white ;
  
}
.button.selected {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #378760;
  cursor: pointer;
}

.button:hover {
  background-color: #378760;
}

.full-width-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 615px); /* Adjust the width as needed */
  padding: 10px;
  margin-left: 323px; /* Add margin top to separate it from other elements */
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #378760;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
}

.full-width-button > span {
  color: white;
  font-size: 0.6rem;
}

.full-width-button > button {
  color: #555770;
  margin: 10px;
  font-size: 20px;
  outline: none;
  text-decoration: none;
  padding: 8px, 30px, 8px, 30px;
  width: 120px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  
}
.full-width-button > button:hover{
  background-color: #abcbf1;
  color: black;
}



.rednerslot > p {
  display: inline-block;
  padding: 20px;
  margin-top: 60px;
  margin-left: 50px;
  border: 2px solid rgb(6, 105, 5);
  border-radius: 10px;
  color: #fefdff;
  font-weight: bold;
  font-size: 15px;
  background: black;
  animation: pulse 1.5s infinite alternate;
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}