.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 10px;
  outline: none;
}

.wrapper {
  background-color: rgb(231, 236, 226);
  border-radius: 10px 0 0 0px;
  padding: 30px;
  height: 370px;
}
.wrapperslot {
  background-color: white;
  border-radius: 0 10px 0 0;
  padding: 30px;
  height: 370px;
}

.calendar {
  background-color: white;
  border-radius: 10px;
}

.slottitle {
  
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555770;
  font-weight: 600;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
  margin-bottom: 10px;
  font-weight: 800;
}

.select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.slots {
  margin-top: 20px;
  width: 340px;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
}
.full-width-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 615px); /* Adjust the width as needed */
  padding: 10px;
  margin-left: 323px; /* Add margin top to separate it from other elements */
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #378760;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
}

.full-width-button > span {
  color: white;
  font-size: 0.6rem;
}

.full-width-button > button {
  color: #378760;
  margin: 10px;
  padding: 8px, 30px, 8px, 30px;
  width: 120px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
}
